body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    border: 1px solid black;
    text-align: center;
}

footer {
    background-color: dimgrey;
    color: white;
    padding: 1em;
    text-align: center;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: inherit;
}